* {
  margin: 0;
  padding: 0;
}

.muzejitbl {
  width: 1200px;
  margin-top: 50px;
  margin-left: 400px;
}

.spanpaginate {
  margin-left: 900px;
  font-size: 22px;
  cursor: pointer;
}

.searchfields {
  margin-top: 30px;
  margin-left: 800px;
}

#inputsearch {
  margin-right: 20px;
  height: 35px;
}

.navigacija {
  margin-top: 10px;
  margin-bottom: 60px;
  margin-left: 820px;
}

.navigacija a {
  text-decoration: none;
  margin-left: 1%;
  font-size: 30px;
}
